body{
    font-size: 1.5em;
  }
  
  .ash{
      color: black;
      background-color: white;
      font-family:'Times New Roman', Times, serif
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    li {
      float: left;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }
      footer {
    
        text-align: center;
        padding: 6px;
        bottom: 0;
        width: 100%;
        background: black;
        color: white;
      }
    
    .container{
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 10px;
       
    }
    .image{
        width: 300px;
        height: 300px;
        padding-left: 15%;
    }
    .text{
        font-size: 20px;
        padding-left: 5%;
        
    }
    .secondcontainer {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      .images {
        width: 300px;
        height: 300px;
        padding-left: 20%;
        
        
      }
      .secondtext {
        margin: 40px; 
        padding-right: 10%;
      }
      .headerstyle{
        padding-left: 3%; 
        text-align: center;
    }